<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pk.codeamers.Saleheen">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Saleheen">
        <activity
            android:name=".DuaaOfDay"
            android:exported="false" />
        <activity
            android:name=".HadithofDay"
            android:exported="false" />
        <activity
            android:name=".VerseOfDay"
            android:exported="false" />
        <activity
            android:name=".Dua"
            android:exported="false" />
        <activity
            android:name=".Tasbeeh"
            android:exported="false" />
        <activity
            android:name=".SalahTracker"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".NearestMosque"
            android:exported="false" />
        <activity
            android:name=".PdfSurah"
            android:exported="false" />
        <activity
            android:name=".Quran"
            android:exported="false" />
        <activity
            android:name=".QiblaDirection"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>